@charset "utf-8";
.mui-content{
	background:#fff;
}
.louie-form-child{
	position:relative;
	width:100%;
	height:2.5rem;
}
.louie-form-child{
	border-bottom:1px solid #eee;
}
.louie-form-child label{
	position:absolute;
	left:0;
	top:0;
	width:5.283333rem;
	height:2.5rem;
	text-align:left;
	line-height:2.5rem;
	font-size:0.75rem;
	color:#373c3f;
	text-indent:0.75rem;
}
.louie-form-child input{
	position:absolute;
	right:0;
	height:2.4rem;
	width:10.716666rem;
	border:none;
	background:#fff;
	border-radius:0;
	font-size:0.75rem;
	color:#000;
}
.louie-form-child input::-webkit-input-placeholder{
	font-size:0.75rem;
}
nav.mui-bar{
	height:2.033333rem; 
	line-height:2.533333rem;
	background:#f84c69;
	color:#fff;
	text-align:center;
	font-size:0.8rem;
} 
h3.charge{
	text-align:center;
	font-size:.5rem;
	color:#666;
	margin-top:.5rem;
}