@charset "utf-8";
header.mui-bar-nav{
	height:1.933333rem !important;
}
header.mui-bar-nav h2{
	margin:0; 
	padding:0;
	font-size:0.533333rem;
	width:100%;
	height:1.933333rem;
	line-height:1.933333rem;
	text-align:center;
	color:#585858;
}
.mui-content{
	background:#fff; 
	padding-bottom:2.033333rem;
}
#fans-list figure{
	position:relative;
	width:100%;
	height:2.5rem;
	margin:0;
	padding:0;
	border-bottom:1px solid #e5e5e5;
}
#fans-list figure img{
	position:absolute;
	top:0.55rem;
	left:0.55rem;
	width:1.3rem;
	height:1.3rem;
	border-radius:0.65rem;
}
#fans-list figure figcaption.nickname{
	display:block;
	position:absolute;
	font-size:0.5335rem;
	color:#000;
	left:2.3rem;
	height:2.5rem;
	line-height:2.5rem;
}
nav.mui-bar{
	height:2.033333rem;
	line-height:2.033333rem;
	background:#f84c69;
	color:#fff;
	text-align:center;
	font-size:0.8rem;
}
nav.mui-bar a{
	display:block;
	color:#fff;
}
