<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关注的社群</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="{php echo LOUIE_CSS}mui.css" rel="stylesheet" /> 
		<link href="{php echo LOUIE_CSS}m_fonts.css" rel="stylesheet" />
		<link href="{php echo LOUIE_CSS}basic.css" rel="stylesheet" />
		<link href="{php echo LOUIE_CSS}m_attention_group.css" rel="stylesheet" />  
		<script src="{php echo LOUIE_JS}mui.js" type="text/javascript" charset="utf-8"></script>
    	<script src="{php echo LOUIE_JS}set.js" type="text/javascript" charset="utf-8"></script>
    	{php echo Wx::WxJs('false',array('onMenuShareTimeline','onMenuShareAppMessage'))}
    	{php echo $_share}
	</head>
	<body>
		
		<!--S主体内容-->
		<div class="mui-content mui-scroll-wrapper" id="bought">
		    <div class="mui-scroll">
		    	<div class="attention-list">
		    		
						<!--  <figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure> 
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>
						
						<figure>
							<img src="{php echo LOUIE_IMG}img1.jpg" />
							<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让</figcaption>
							<figcaption class="name">我的关注，我的关注</figcaption> 
							<button class="mui-btn-danger">取消关注</button>
						</figure>-->
		
					</div>
				</div>
		   </div>
		   
		   <nav class="mui-bar mui-bar-tab">
		   	    <a href="{php echo $this->createMobileUrl('m_member')}"><i class="mui-icon mui-icon-undo"></i>返回个人中心</a>    
		   	</nav>
		<input type="hidden" value="{php echo $_W['siteurl']}" id="now-page" />
		<script src="{php echo LOUIE_JS}basic.js"></script> 
		<script src="{php echo LOUIE_JS}m_attention.js"></script>   
	</body>
</html>
