<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    <title>超级社群—首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{php echo LOUIE_CSS}mui.css"/>
    <link rel="stylesheet" type="text/css" href="{php echo LOUIE_CSS}m_fonts.css"/> 
    <link rel="stylesheet" type="text/css" href="{php echo LOUIE_CSS}basic.css"/>
    <link rel="stylesheet" type="text/css" href="{php echo LOUIE_CSS}m_search.css"/>
    <script src="{php echo LOUIE_JS}mui.js" type="text/javascript" charset="utf-8"></script>
    <script src="{php echo LOUIE_JS}set.js" type="text/javascript" charset="utf-8"></script>  
    {php echo Wx::WxJs('false',array('onMenuShareTimeline','onMenuShareAppMessage'))}
    {php echo $_share}
</head>
<body data-now-page="{php echo $_W['siteurl']}">   
	<header class="mui-bar mui-bar-nav" id="louie-header">
	  <a class="mui-icon mui-icon-left-nav mui-pull-left" href="{php echo $this->createMobileUrl('m_index')}"></a>   
	  <form action="" method="post" id="search-form" name="search">
	  	<span class="mui-icon mui-icon-search"></span>
	  	<input type="search" placeholder="搜索群聊" name="keyword"/>  
	  </form>  
	  <div id="search-bg"></div>
	</header>
	
	<div class="mui-content mui-scroll-wrapper"> 
		<div class="mui-scroll">
			<div class="search-list louie-list">
				<!-- <figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure>
				
				<figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure>
				
				<figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure>
				
				<figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure>
				
				<figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure>
				
				<figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure>
				
				<figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure>
				
				<figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure>
				
				<figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure>
				
				<figure>
					<img src="{php echo LOUIE_IMG}img1.jpg" />
					<figcaption class="title">美丽瑜伽还你完美体态，解决肩颈腰疾病让你轻松挺拔，哈哈哈嘟嘟嘟</figcaption>
					<figcaption class="brief">妻子专业瑜伽到时培训 | 共9节课</figcaption>
					<figcaption class="count-price">
						<span class="count">1.3万次参与</span>
						<span class="price">￥39.9</span>
					</figcaption> 
				</figure> -->
			</div>
		</div>
	</div>
	
	
	<script src="{php echo LOUIE_JS}basic.js"></script>
	<script src="{php echo LOUIE_JS}m_search.js"></script>
</body>
</html>
