{template 'header'}

<style type="text/css">
.mainColor {
    background: #14c682 !important;
}

.header .m {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.report	{
	background-color:#fff;
	padding: 5px 0;
	margin: 0 10px;
    /*font-size: 12px;*/
}

.label-info {
    background-color: #5bc0de;
}

</style>

<div class="wraper">

</script>
<div class="blank15"></div>
<section class="project_add">
	<div id="titlebar" class="header mainColor">
        <div class="m">
            <span style="font-size: 18px">{$item['title']}--评测</span></div>
        <div class="r">
            <a href="#my-menu"></a>
        </div>
    </div>

	<div class="report">
		<div>
			<h2>{$item['rtitle']}</h2>
		</div>
		<div class="blank10"></div>
		<div class="uploadbox">
			{loop $item['images'] $ii}
			<label class="fileupload f_l mr10">
				<div class="pic_show">
                    <img src="{$ii}" style="width:100px;height:100%;">
				</div>
			</label>
			{/loop}
		</div>
		<div class="blank10"></div>
		<span>
			{$item['content']}
		</span>
		
	</div>
	<div class="blank10"></div>

	<!-- 操作 -->
	<div class="operate">
		<label data='{$item['zan']}' class='label label-default {if $item['zan']==1}label-info{/if}' onclick="setProperty(this,{$item['id']},'2')">赞(<span class="zan_num">{$item['zan_num']}</span>)</label>

		<label data='{$item['collect']}' class='label label-default {if $item['collect']==1}label-info{/if}' onclick="setProperty(this,{$item['id']},'1')">藏(<span class="collect_num">{$item['collect_num']}</span>)</label>

		<label data='{$item['reply_num']}' class='label label-default {if $item['isrecommand']==1}label-info{/if}' ">回复(<span class="reply_num">{$item['reply_num']}</span>)</label>
	</div>
	<div class="blank10"></div>

	<!-- 评论 -->
	<div class="reply">
		<textarea name="content" id="reply">
			
		</textarea>
		<label data='{$item['collect']}' class='button' onclick="reply()">
			回复
		</label>
	</div>

	<!-- 回复列表 -->
	<div class="reply_list">
		{loop $reply_list $reply}
		<div class="myoder img-rounded">
		    <div class="myoder-hd">
		        <span class="pull-left">{$reply['nickname']}回复：</span>
		        <span class="pull-right">{$reply['tijiaotime']}</span>
		    </div>
		    <div class="myoder-detail">
		        <h3 class="p1">{$reply['content']}</h3>
		    </div>

		</div>
		{/loop}
	</div>


</section>
<div class="blank15"></div>
<script type="text/javascript">
	function reply(){
		$.post("{php echo $this->createMobileUrl('baogao')}"
			,{report_id:{$item['id']},pid:{$item['pid']},content:$('#reply').val()}
			,function(d){
				// 回复成功
				if(d.result==1){
					$('.reply_num').html(parseInt($('.reply_num').html())+1);
					$.show_tip(d.msg);
					// 刷新当前页面
					location.reload();
				}
			}
			,"json"
		);
	}


	function setProperty(obj,id,type){
		// $(obj).html($(obj).html() + "...");
		$.post("{php echo $this->createMobileUrl('setreportproperty')}"
			,{id:id,type:type, data: obj.getAttribute("data")}
			,function(d){
				// $(obj).html($(obj).html().replace("...",""));
				$(obj).attr("data",d.data);
				// 更改原有值 收藏或点赞成功
				if(d.data==1){
					if (type==1) {
						$('.collect_num').html(parseInt($('.collect_num').html())+1);
						$.show_tip("收藏成功");
					}else{
						$('.zan_num').html(parseInt($('.zan_num').html())+1);
						$.show_tip("点赞成功");
					}
					
				}else{
					if (type==1) {
						$('.collect_num').html(parseInt($('.collect_num').html())-1);
						$.show_tip("取消收藏成功");
					}else{
						$('.zan_num').html(parseInt($('.zan_num').html())-1);
						$.show_tip("取消点赞成功");
					}
				}
				
				if(d.result==1){
					$(obj).toggleClass("label-info");
				}
			}
			,"json"
		);
	}



</script>
</div>
{template 'footerbar'}
{template 'footer'}