{template 'header'}
<style type='text/css'>
	.sel { background:#33cdd6; color:#fff;}
	.nosel { background:#fff;color:#000}
</style>
<style type="text/css">
.myoder{margin:10px; -webkit-box-shadow:0 1px 2px 1px rgba(0,0,0,0.2); box-shadow:0 1px 2px 1px rgba(0,0,0,0.2); overflow:hidden; background:#FFF;}
.myoder .myoder-hd{height:35px; line-height:35px; overflow:hidden; background:#f0f0f0; border-bottom:1px solid #cacaca; padding:0 10px;}
.myoder .myoder-hd > span{font-size:14px; color:#504040;}
.myoder .myoder-hd > span.pull-right{font-size:12px; color:#999;}
.myoder .myoder-detail{min-height:73px; border-bottom:1px solid #f3f3f4; padding:10px; overflow-x:hidden;}
.myoder .myoder-detail img{width:50px; margin-right:10px; float:left;}
.myoder .myoder-detail .name a{color:#4d4f5d; display:inline-block; width:200px; font-weight:bold; text-decoration:underline; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.myoder .myoder-detail .price{font-size:14px;}
.myoder .myoder-detail .price span{display:inline-block; width:100px;}
.myoder .myoder-detail .price span.num{width:60px;}
.myoder .myoder-total{height:65px; padding:5px 10px; color:#b9b9b9; font-weight:bold;}
.myoder .myoder-total > span{margin-right:5px;}
.myoder .myoder-total > span .false{color:#e9342a;}
.myoder .myoder-total > .btn{margin-top:3.5px;}
.myoder .myoder-express{border-bottom:1px solid #f3f3f4; padding:5px 10px; overflow:hidden; background:#F9F9F9;}
.myoder .myoder-express > span{display:inline-block; width:50%; float:left;}
.myoder .myoder-express .express-company{}
.myoder .myoder-express .express-num{text-align:right;}
.mystatus div{height:35px;line-height:35px;}
.btn-sm{height: 35px;line-height: 35px;display: block;text-align: center;background: #52c580;width:34%;color:#fff;    border-radius: 5px;}

.bg{
	height: 35px;
line-height: 35px;
padding: 5px 20px;
text-align: center;
color: #fff;
border-radius: 5px;
}
.zjgm{background: #44b549;}
.sqsy{background: #d9534f;}
</style>

<div class="myoder img-rounded" style='text-align:center;color:#aaa;padding:5px;'>
	 <div style='float:left;margin:auto;width:100%;' class="mystatus">
		<!-- 类型type：1 collect收藏  2 zan 点赞 -->
	 	<div {if $type==1}class='sel'{else}class="nosel"{/if} style='border-top-right-radius: 5px;margin-left:-1px;border-bottom-right-radius:5px;text-align: center;border:1px solid #33cdd6;float:left;width:32.6%' onclick="location.href='{php echo $this->createMobileUrl('MyCenter',array('type'=>1))}'">
			我的收藏
		</div>		

		<div {if $type==2}class='sel'{else}class="nosel"{/if} style='border-top-right-radius: 5px;margin-left:-1px;border-bottom-right-radius:5px;text-align: center;border:1px solid #33cdd6;float:left;width:32.6%' onclick="location.href='{php echo $this->createMobileUrl('MyCenter',array('type'=>2))}'">
			我的点赞
		</div>	

		<div {if $type==3}class='sel'{else}class="nosel"{/if} style='border-top-right-radius: 5px;margin-left:-1px;border-bottom-right-radius:5px;text-align: center;border:1px solid #33cdd6;float:left;width:32.6%' onclick="location.href='{php echo $this->createMobileUrl('MyCenter',array('type'=>3))}'">
			我的评论
		</div>


		<div {if $state==9 && empty($type)}class='sel'{else}class="nosel"{/if} style='border-top-right-radius: 5px;margin-left:-1px;border-bottom-right-radius:5px;text-align: center;border:1px solid #33cdd6;float:left;width:32.6%' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('state'=>9))}'">
			全部商品
		</div>		

		<div {if $state==0 && empty($type)}class='sel'{else}class="nosel"{/if} style='border-top-right-radius: 5px;margin-left:-1px;border-bottom-right-radius:5px;text-align: center;border:1px solid #33cdd6;float:left;width:32.6%' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('state'=>0))}'">
			试用商品
		</div>	

		<div {if $state==1}class='sel'{else}class="nosel"{/if} style='border-top-right-radius: 5px;margin-left:-1px;border-bottom-right-radius:5px;text-align: center;border:1px solid #33cdd6;float:left;width:32.6%' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('state'=>1))}'">
			购买商品
		</div>
	</div>
</div>


{if count($list)<=0}
<div class="myoder img-rounded" style='text-align:center;color:#aaa;padding:30px;'>
	您暂时没有任何点赞!
</div>
{/if}
<div style='margin-bottom:40px;'>
{loop $list $item}
<div class="myoder img-rounded">
	<div class="myoder-hd">
		<span class="pull-left">编号：{$item['id']}</span>
		<span class="pull-right">{php echo $item['tijiaotime']}
		
		</span>
	</div>
	{php $project = $this->getproject($item['pid']);}
	<div class="myoder-detail">
		<a href="{php echo $this->createMobileUrl('detail', array('id' => $project['id']))}">
			<img src="{$_W['attachurl']}{$project['thumb']}" style="width:100px;height:100px;"/>产品名称：{$project['title']}

			
		</a> 
		</br>
		<!-- {if $item['parent_id'] == 0}
			<span class="bg zjgm">顶级评论：</span>
		{else}
			<span class="bg sqsy">回复：</span>
		{/if} -->
		<div style="
            overflow:hidden;
            text-overflow:ellipsis; 
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;">
		{$item['content']}
		</div>
		<!-- </br>
		{if $item['is_display'] == 0}
			<span class="bg zjgm">待处理</span>
		{elseif $item['is_display'] == 1}
			<span class="bg sqsy">通过</span>
		{/if} -->

	</div>
	<div class="myoder-total">
		
		<div style="height:30px;">

				<a href="{php echo $this->createMobileUrl('baogao', array('report_id' => $item['report_id']))}" style="color:#fff;"  class="btn btn-success pull-right btn-sm" >
				{if $item['parent_id']}
					回复详情
				{else}
					评论详情
				{/if}
			</a>
		</div>

		<!-- 操作 -->
		<div class="operate">
			<label data='{$item['zan']}' class='label label-default {if $item['zan']==1}label-info{/if}' onclick="setProperty(this,{$item['report_id']},'2')">赞(<span class="zan_num">{$item['zan_num']}</span>)</label>

			<!-- <label data='{$item['collect']}' class='label label-default {if $item['collect']==1}label-info{/if}' onclick="setProperty(this,{$item['id']},'1')">藏(<span class="collect_num">{$item['collect_num']}</span>)</label> -->

			<label data='{$item['reply_num']}' class='label label-default {if $item['isrecommand']==1}label-info{/if}' ">回复(<span class="reply_num">{$item['reply_num']}</span>)</label>
		</div>

	</div>
</div>
{/loop}

<div id="pager">{$pager}</div>

<script type="text/javascript">
	function setProperty(obj,id,type){
		// $(obj).html($(obj).html() + "...");
		$.post("{php echo $this->createMobileUrl('setreportproperty')}"
			,{id:id,type:type,pid:{$item['pid']}, data: obj.getAttribute("data")}
			,function(d){
				// $(obj).html($(obj).html().replace("...",""));
				$(obj).attr("data",d.data);
				// 更改原有值 收藏或点赞成功
				if(d.data==1){
					if (type==1) {
						$('.collect_num').html(parseInt($('.collect_num').html())+1);
						$.show_tip("收藏成功");
					}else{
						$('.zan_num').html(parseInt($('.zan_num').html())+1);
						$.show_tip("点赞成功");
					}
					
				}else{
					if (type==1) {
						$('.collect_num').html(parseInt($('.collect_num').html())-1);
						$.show_tip("取消收藏成功");
					}else{
						$('.zan_num').html(parseInt($('.zan_num').html())-1);
						$.show_tip("取消点赞成功");
					}
				}
				
				if(d.result==1){
					$(obj).toggleClass("label-info");
				}
			}
			,"json"
		);
	}
</script>

</div>
{template 'footer'}
{template 'footerbar'}