<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>{$item['title']}详情</title>
    <!-- <link rel="dns-prefetch" href=""> -->
    <link rel="stylesheet" href="{STATIC_RESOURCE_VERTWO}css/lib/reset.css">
    <link rel="stylesheet" href="{STATIC_RESOURCE_VERTWO}libs//swiper/swiper.min.css" />
    <link rel="stylesheet" href="{STATIC_RESOURCE_VERTWO}css/index.css" />
    <script src="{STATIC_RESOURCE_VERTWO}js/lib/flexible-163.js"></script>
    <script src="{STATIC_RESOURCE_VERTWO}js/lib/jquery-2.2.4.min.js"></script>
    <script src="{STATIC_RESOURCE_VERTWO}libs//swiper/swiper.min.js"></script>
</head>

<body ontouchstart class="detail">
    <!-- 返回上一页 -->
    <div class="header">
        <a class="go-back" href="javascript:void(0)" onclick="history.go(-1)">返回</a>
        <h1 class="title">{$item['title']}</h1>
        <span class="service">服务声明</span>
    </div>

    <div class="wrapper">
        <!-- 主体内容部分s -->
        <div class="container">
            <!-- 倒计时 -->
            <div class="timer-box">
                <p>剩余：1 天 0 时 0 分 0 秒后结束</p>
            </div>
            <!-- 顶部轮播 -->
            <div class="banner-box swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" title="">
                            <img class="banner-img" src="{$_W['attachurl']}{$item['thumb']}" alt="{$item['title']}">
                        </a>
                    </div>
                    <!-- <div class="swiper-slide">
                        <a href="" title="">
                            <img class="banner-img" src="{STATIC_RESOURCE_VERTWO}images/banner-detail-pic.jpg" alt="">
                        </a>
                    </div> -->
                </div>
                <!-- 分页器 -->
                <div class="swiper-pagination"></div>
            </div>

            <!-- 商品信息 -->
            <div class="infos-box">
            	<!-- 暂时无内容 -->
                <!-- <div class="infos-bd">
                    <span class="info-ico">免费试用</span>
                    <h2 class="info-name">{$item['title']}</h2>
                    <p class="info-tip">要点描述副标题，绽放水润光泽绽放细嫩柔滑要点描述副标题， 绽放水润光泽绽放细嫩柔滑要点描述副标题，绽放水润光泽绽放。</p>
                </div> -->
                <div class="infos-other">
                    <span class="infos-count">限量<em>{$item['cpnumber']}</em>份</span>
                    <span class="infos-person">{php echo $this->getprojectorder($item['id'])}人申请</span>
                    <span class="infos-price">￥{$item['myprice']}</span>
                </div>
                <div class="infos-ft">
                    <a class="info-apply" href="" title="试用流程">试用流程</a>
                </div>
            </div>

            <!-- 商品详情 -->
            <div class="detail-box">
                <!-- <h3 class="detail-hd"><img src="{STATIC_RESOURCE_VERTWO}images/title-detail.png" alt="商品详情"></h3>
                <div class="detail-bd">
                    <p><img src="{STATIC_RESOURCE_VERTWO}images/detail-pic.jpg" alt=""></p>
                </div> -->
                <div class="detail-bd">
                    <p>
	                    {$item['content']}
	                </p>
                </div> 
                
            </div>



            <!-- 精选推荐 -->
            <div class="floor-box tj-box">
                <h3 class="floor-hd"><img src="{STATIC_RESOURCE_VERTWO}images/title-tj.png" alt="精选推荐"></h3>
                <div class="floor-bd">
                    {loop $hot_list $hot_item}
                    <!-- 产品1 -->
                    <div class="floor-bd-item">
                        <a class="item-link" href="{php echo $this->createMobileUrl('detail', array('id' => $hot_item['id']))}">
                            <!-- 产品主图 -->
                            <div class="item-view">
                                <img class="item-img" src="{php echo tomedia($hot_item['thumb'])}" alt="{$hot_item['title']}">
                            </div>
                            <!-- 产品详情 -->
                            <div class="item-detail">
                                <p class="item-brand">品牌</p>
                                <p class="item-name">{$hot_item['title']}</p>
                                <p class="item-price">
                                    <span class="price-now">¥{$hot_item['myprice']}</span>
                                    <del class="price-old">¥{$hot_item['price']}</del>
                                </p>
                                <p class="item-cart">
                                    <span class="iconfont btn btn-car">&#xe60f;</span>
                                </p>
                            </div>
                        </a>
                    </div>
                    {/loop}
                </div>
            </div>



            <div class="cart-box">
                <!-- 立即购买 -->
                <a class="cart-hd" href="" title="立即购买">
                <span class="iconfont">&#xe60f;</span>立即购买</a>
                <!-- 申请试用 -->
                <a class="apply-hd" href="" title="申请试用">申请试用</a>
            </div>


        </div>
    </div>



    <script>
        $(function() {
        	// alert( '{php echo date('Y/m/d,H:i:s',$item['deal_days'])}' );
            //头部轮播
            var slideBanner = new Swiper('.banner-box', {
                autoplayDisableOnInteraction: false,
                autoplay: 3000,
                visibilityFullFit: true,
                // loop: true,
                // pagination: '.swiper-pagination'
            });

            // 倒计时
            function checkTime(i){
                if( i<10 ){
                    i = '0' + i;
                }
                return i;
            }

            function showTime() {
            　　var nowtime=new Date(),
            　　//endtime=new Date('2019/1/1,00:00:00'),//设置结束时间
        		endtime=new Date('{php echo date('Y/m/d,H:i:s',$item['deal_days'])}'),//设置结束时间
        　　　　lefttime=parseInt((endtime.getTime()-nowtime.getTime())/1000),
        　　　　d=checkTime(Math.floor(lefttime/(60*60*24))),
        　　　　h=checkTime(Math.floor(lefttime/(60*60)%24)),
        　　　　m=checkTime(Math.floor(lefttime/60%60)),
        　　　　s=checkTime(Math.floor(lefttime%60));
                $('.timer-box p').html('剩余：'+ d + '天' + h + '时' + m + '分' + s+ '秒后结束')
            　　setTimeout(showTime, 1000);
            }
            showTime();

        });
    </script>

</body>

</html>