<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>个人中心</title>
    <!-- <link rel="dns-prefetch" href=""> -->
    <link rel="stylesheet" href="{STATIC_RESOURCE_VERTWO}css/lib/reset.css">
    <link rel="stylesheet" href="{STATIC_RESOURCE_VERTWO}css/index.css" />
    <script src="{STATIC_RESOURCE_VERTWO}js/lib/flexible-163.js"></script>
    <script src="{STATIC_RESOURCE_VERTWO}js/lib/jquery-2.2.4.min.js"></script>
    <script src="{STATIC_RESOURCE_VERTWO}js/index.js"></script>
</head>

<body ontouchstart class="my-person">
    <!-- 返回上一页 -->
    <div class="header">
        <a class="go-back" href="javascript:void(0)" onclick="history.go(-1)">返回</a>
        <h1 class="title">个人中心_外部uid={$_SESSION['out_uid']}</h1>
        <a href="{php echo $this->createMobileUrl('rule')}"><span class="service">服务声明</span</a>
    </div>

    <div class="wrapper">
        <!-- 主体内容部分s -->
        <div class="container">

            <div class="banner-box">
                <a href="" title="">
                    <img class="banner-img" src="{STATIC_RESOURCE_VERTWO}images/banner-pic.jpg" alt="">
                </a>
            </div>

            <!-- 我的试用 -->
            <div class="part-box">
                <!-- 标题 -->
                <div class="part-title">
                    <span class="title-l">我的试用</span>
                    <span class="title-r"><a class="link" title="查看全部试用" href="{php echo $this->createMobileUrl('myorder',array('state'=>0,'status'=>9))}">查看全部试用</a></span>
                </div>
                <!-- 列表 -->
                <div class="part-list">
                    <div class="list-item">
                        <!-- 试用列表 -->
                        <div class="item-con flex">
                            <span class="item-flex apply"><a class="link" title="申请中" href="{php echo $this->createMobileUrl('myorder',array('state'=>0,'status'=>0))}">申请中</a></span>

                            <span class="item-flex apply-success"><a class="link" title="申请成功" href="{php echo $this->createMobileUrl('myorder',array('state'=>0,'status'=>5))}">申请成功</a></span>

                            <span class="item-flex apply-fail"><a class="link" title="申请失败" href="{php echo $this->createMobileUrl('myorder',array('state'=>0,'status'=>1))}">申请失败</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 我的订单 -->
            <div class="part-box">
                <!-- 标题 -->
                <div class="part-title">
                    <span class="title-l">我的订单</span>
                    <span class="title-r"><a class="link" href="{php echo $this->createMobileUrl('myorder',array('state'=>1,'status'=>9))}">查看全部订单</a></span>
                </div>
                <!-- 列表 -->
                <div class="part-list">
                    <div class="list-item">
                        <!-- 订单列表 -->
                        <div class="item-con flex">
                            <span class="item-flex wait-pay"><a class="link" href="{php echo $this->createMobileUrl('myorder',array('state'=>1,'status'=>2))}">待发货</a></span>
                            <span class="item-flex wait-goods"><a class="link" href="{php echo $this->createMobileUrl('myorder',array('state'=>1,'status'=>3))}">待收货</a></span>
                            <span class="item-flex wait-recevice"><a class="link" href="{php echo $this->createMobileUrl('myorder',array('state'=>1,'status'=>5))}">已完成</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 收货地址 -->
            <div class="part-box address-box">
                <!-- 标题 -->
                <div class="part-title">
                    <span class="title-l">管理我的收货地址</span>
                    <span class="title-r"><a class="link" href="{php echo $this->createMobileUrl('address',array('from'=>confirm))}">查看全部地址</a></span>
                </div>
                <!-- 列表 -->
                <!-- <div class="part-list">
                    <div class="list-item">
                        <div class="item-con item-title">
                            <div class="item-left">
                                <span class="item-option item-name">管丽丽</span>
                                <span class="item-option item-tel">13899908887</span>
                            </div>
                            <div class="item-right">
                                <span class="item-option item-add">新增</span>
                                <span class="item-option item-editor">修改</span>
                            </div>
                        </div>
                        <div class="item-con item-des">北京市丰台区丰台南路99号丰台大厦B座18层08室 北京市丰台区丰台南路99号丰台大厦B座18层08室</div>
                        <div class="item-con item-bottom">
                            <span>设为默认</span>
                        </div>
                    </div>
                </div> -->
            </div>


        </div>
    </div>

    <!-- 返回顶部 -->
    <div id="goTop"></div>



<script>
$(function () {

    

});
</script>

</body>

</html>
