<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>我的试用</title>
    <!-- <link rel="dns-prefetch" href=""> -->
    <link rel="stylesheet" href="css/lib/reset.css">
    <link rel="stylesheet" href="libs/swiper/swiper.min.css" />
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/lib/flexible-163.js"></script>
    <script src="js/lib/jquery-2.2.4.min.js"></script>
    <script src="libs/swiper/swiper.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body ontouchstart class="my-try">
    <!-- 返回上一页 -->
    <div class="header">
        <a class="go-back" href="javascript:void(0)" onclick="history.go(-1)">返回</a>
        <h1 class="title">我的试用</h1>
        <span class="service">服务声明</span>
    </div>

    <div class="wrapper">
        <!-- 主体内容部分s -->
        <div class="container">

            <div class="tab-hd">
                <ul>
                    <li class="tab-hd-item active"><span>全部</span></li>
                    <li class="tab-hd-item"><span>申请中</span></li>
                    <li class="tab-hd-item"><span>申请成功</span></li>
                    <li class="tab-hd-item"><span>申请失败</span></li>
                </ul>
            </div>

            <div class="banner-box">
                <a href="" title="">
                    <img class="banner-img" src="images/banner-pic.jpg" alt="">
                </a>
            </div>

            <div class="swiper-container tab-bd">
                <div class="swiper-wrapper" style="float:left; height:auto;">

                    <!-- 全部 -->
                    <div class="swiper-slide tab-bd-item">

                        <!-- 产品1 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">全部标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <!-- 产品2 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">待付款标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <!-- 待付款 -->
                    <div class="swiper-slide tab-bd-item">

                        <!-- 产品1 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">待付款标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <!-- 产品2 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <!-- 产品3 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <!-- 产品4 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <!-- 产品5 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <!-- 待收货 -->
                    <div class="swiper-slide tab-bd-item">

                        <!-- 产品1 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">待收货标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <!-- 产品2 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <!-- 已签收 -->
                    <div class="swiper-slide tab-bd-item">

                        <!-- 产品1 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">已签收标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <!-- 产品2 -->
                        <div class="tab-item-con">
                            <a class="item-link" href="">
                                <div class="item-side">
                                    <img class="item-img" src="images/goods-pic.jpg" alt="">
                                </div>
                                <div class="item-detail">
                                    <p class="item-name">标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包标题：CAMELBAK OCTANE 18X 水袋包  COACH 蔻驰 F54008 女士长款钱包</p>
                                    <p class="item-price">
                                        <span class="price-now">¥99.88</span>
                                        <del class="price-old">¥577.02</del>
                                    </p>
                                    <p class="item-btn">
                                        <span class="btn btn-black">待付款</span>
                                        <span class="btn btn-link fr">确认收货</span>
                                    </p>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>

    <!-- 返回顶部 -->
    <div id="goTop"></div>

<script>
$(function(){
    
    
});
</script>

</body>

</html>
